.button {
    background-color: transparent;
    border: 2px solid #d6b588;
    border-radius: 0.625rem;
    color: #d6b588;
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-family: Greycliff;
    letter-spacing: 0.25rem;
    text-decoration: none;
}

.button-lightblue-hover:hover {
    background-color: #88a9d6;
    border: 2px solid #88a9d6;
    color: white;
}

.button-red, .button-red-hover:hover{
    background-color: #D05353;
    border: 2px solid #D05353;
}

.button-blue, .button-blue-hover:hover{
    background-color: #424874;
    border: 2px solid #424874;
}

.button-green, .button-green-hover:hover{
    background-color: #537A5A;
    border: 2px solid #537A5A;
}

