.portfolio {

  overflow: visible;

  max-width: 100%;;
  /* Gradient background */
  
}

// for debugging
// .portfolio-grid, .portfolio-item {
//   outline: 1px solid red; /* Debugging outline */
// }

/* Portfolio Grid Styles */
.portfolio-grid {
  align-items: start;
  margin: 12.5rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Flexible columns with min size */
 /* Automatically adjust rows */
  gap: 50px; /* Uniform spacing between grid items */
  width: 80%;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden; /* Enable vertical scrolling */
  overflow: visible !important;
  opacity: 0;
  animation: fadeInGrid 1.5s forwards;
  animation-delay: 0.75s;
  scroll-behavior: smooth;
  padding-bottom: 10rem; /* Fade-in effect for grid */
}

/* Fade-in animation */
@keyframes fadeInGrid {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Portfolio Item Styles */
.portfolio-item {
  overflow: hidden;
  position: relative;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s ease-in-out;
  opacity: 0;
  cursor: grab;
  animation: fadeInItem 1s forwards; 
  overflow-x: hidden;  /* Hide any horizontal overflow */
  position: relative;/* Fade-in effect for items */
  align-self: center;
  height: 100%;
}



@keyframes fadeInItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.portfolio-item.loaded {
  opacity: 1 !important;
  animation: 1 ease-in; /* Make the image visible once it's in view */
}

/* Portfolio Item Sizes */
.portfolio-item-large {
  grid-column: span 1; /* Take up 2 columns */
}

.portfolio-item-large-1col {
  grid-column: span 2; /* Take up 2 columns */
  grid-row: span 2; /* Take up 2 rows */
}

.portfolio-item-large2 {
  grid-column: span 2; /* Make the item take up two columns */
  grid-row: span 1; /* Optionally span only 1 row */
  min-width: 100%;          /* Take up 100% of the available space of the grid cell */
  height: auto;         /* Maintain aspect ratio (if the content is an image, for example) */
  box-sizing: border-box; /* Include padding and borders in the element's total width/height */
  max-width: 100%; 
  grid-gap:0;   /* Ensure it doesn’t exceed the width of its parent container */
  text-align: center;
}

.portfolio-item-medium {
  grid-column: span 1; /* Take up 2 columns */
}

.portfolio-item-small {
  grid-column: span 1; /* Take up 1 column */
  grid-row: span 1; /* Take up 1 row */
}

// .portfolio-item:nth-child(1) {
//   grid-row: 1; /* First item is at the first row */
// }

// .portfolio-item:nth-child(2) {
//   grid-row: 1;
//   padding-bottom: 0; /* Second item goes on the same row as the first */
// }

// .portfolio-item:nth-child(3) {
//   grid-row: 2; /* The third item goes to the second row */ /* This ensures the 3rd item starts 50px below the 1st item */
// }

// .portfolio-item:nth-child(4) {
//   grid-row: 2; /* The fourth item also goes to the second row */
//   //margin-top: -275px; /* This ensures the 4th item starts 50px below the 2nd item */
// }

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.portfolio-item .lottie-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

/* Hover effect for portfolio items */
.portfolio-item:hover {
  transform: scale(1.1); /* Slight zoom effect */
}

/* Responsive Layout for Smaller Screens */
@media (max-width: 480px) {
  .portfolio-grid {
    margin-top: 125px;
    grid-template-columns: 1fr; /* Even smaller grid items */
    padding: 10px;
    gap: 15px;
    display: grid; /* Even smaller gap between items */
  }

  /* Make sure portfolio items remain tappable */
  .portfolio-item {
    grid-column: span 2;
    padding: 20px; /* Add some padding for touch targets */
  }

  .portfolio-item-large {
    grid-column: span 2 !important; /* Add some padding for touch targets */
  }

  .portfolio-item img {
    object-fit: contain; /* Ensure images look good in small containers */
  }

  .portfolio-item-large {
    grid-column: span 1; /* Ensure it fits properly on small screens */
  }
}

.nav-bar {
  .dark {
    background: linear-gradient(180deg, #000, transparent);
  }
  @media (max-width: 768px) {
    .nav-bar {
      /* Adjust navigation layout for smaller screens */
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
}
}
