@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .loader {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 0.8s linear infinite;

  }

  .form-button:hover .loader {
    border-color: #88A9D6; /* Make spinner blue on hover */
    border-top-color: transparent;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  @keyframes fadeInBG {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fadeInUp-animation {
    animation: 1.5s fadeInUp forwards;
  }

  .label-name {
    opacity: 0;
    margin-top: 0rem !important;
    animation: 1s 1.25s fadeIn forwards !important;
  }

  input:invalid,
textarea:invalid {
  border: 2rem solid #EE4266; // Red border when invalid
  background-color: rgba(255, 0, 0, 0.1); // Light red background
}

@keyframes colorShift {
  0% {
    filter: brightness(0) saturate(100%) invert(68%) sepia(9%) saturate(1321%) hue-rotate(175deg) brightness(96%) contrast(91%); /* Final color effect */
  }
  100% {
    filter: brightness(0) saturate(100%) invert(68%) sepia(9%) saturate(1321%) hue-rotate(175deg) brightness(96%) contrast(91%); /* Final color effect */
    
  }
}


  
  .home-page2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    padding-bottom: 10rem;
    /* Background Grid */
    .background-image {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 0rem;
      width: 100%;
      height: 80vh;
      opacity:0;
      overflow: hidden;
      transition: transform 0.1s ease-out;
      animation: colorShift 2s infinite alternate;
      
    }
  
    .background-hidden {
      opacity: 0;
      visibility: hidden;
    }
    
    .background-visible {
      opacity: 0;
      visibility: visible;
      animation: fadeInUp 1.5s 0.5s forwards;
    }
    
  }
  
  
  .home-page2 {
    justify-content: center;

    .form-area {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

    }
    
    .bg {
    }
  
    img{

     
        margin-top: 12.5rem;
        height: 100%;
        width: 50%;
        animation: fadeInUp 1.5s forwards;

        .contact {
          height: 50%;
        }
        
    }

    form {
      margin-top: 5rem;
      animation: fadeInUp 1.5s;
      color:#e6e6dd;
      font-family: "Greycliff";
      display: grid;
      font-size: 3rem;
      gap: 0.25rem;
      border-radius: 5px;
      padding-bottom: 10rem;
      background-color: transparent;
      justify-self: center;
      align-items: center;
      width: 35%;

    }

    label {
      padding: 1rem;
      border-radius: 5px;
      background-color: #44487a;
      width: 100%;
      justify-self: center;
    }

    

    input, textarea {
      background-color: #88A9D6;
      border: 1rem solid #e6e6dd;
      height: 10rem;
      font-family: "Greycliff";
      color: white;
      padding-left: 1rem;
      font-size: 3rem;
      outline: none;
      width: 95%;
      justify-self: center;
      
    }

    .form-button{
      padding: 10rem;
      width: 25%;
      align-self: center;
      border: none;
      height: 5rem;
      font-size: 23px;
      justify-self: center;
      justify-content: center;
      cursor: pointer;
      padding-right: 2rem;
    }

    input::placeholder, textarea::placeholder {
      color: #e6e6dd;
      opacity: 0.2;
    }

    .success {
      background-color:#06BA63 !important;
      color: white !important;
      border: none !important;
    }

    .error {
      background-color:#EE4266 !important;
      color: white !important;
      border: none !important;
    }
    

    input.name{
      height: 5rem;
    }

    textarea.message{
      height: 15rem;
      padding: 1rem;
      font-size: 1.75rem;
      line-height: 2.5rem;
      font-family: "Greycliff";
    }

    
    
    .text-zone {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 40%;
      max-height: 90%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between; /* Distribute buttons evenly */
      align-items: center; /* Vertically align buttons to the center */
    }
  
    h1 {
      color: #88A9D6;
      font-size: 25rem;
      line-height: 15rem;
      margin: 0;
      font-family: 'Greycliff Heavy';
      font-weight: 400;
      animation: fadeIn 2s;
  
  
      img {
        margin-left: 20px;
        opacity: 1;
        width: 32px;
        height: auto;
      }

      
    }
  
    h2 {
      color: black;
      color: #8d8d8d;
      margin-top: 20px;
      font-weight: 400;
      font-size: 11px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeInUp 1.5s;
    }
  
    h3 {
      color: #44487a;
      font-size: 3.25rem;
      line-height: 53px;
      margin: 0;
      font-family: 'Greycliff Heavy';
      font-weight: 400;
      justify-self: center;
      text-align: center;
  
    }

    h4 {
        color: #44487a;
        font-size: 2.5rem;
        line-height: 4rem;
        margin: 0;
        font-family: 'Greycliff';
        font-weight: 400;
        justify-self: center;
    
      }

    .flat-square-contact {
        color: #88A9D6;
        display: block;
        font-size: 23px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: 'Greycliff Heavy';
        text-decoration: none;
        padding: 10px 30px;
        border: 2px solid #e6e6dd;
        border-radius: 5px;
        white-space: nowrap;
        background-blend-mode:screen !important;
        opacity: 0;
        animation: fadeInUp 0.5s 0.5s forwards;
        margin-bottom: -5rem;
        justify-content: center;
        justify-self: center;
        text-align: center;
      }
  
    .buttons {
      padding-top: 5rem;
      opacity: 0;
      animation: fadeInUp 1.5s forwards;
      display: flex;
      justify-content: center;
      gap: 4px;
    }
  
    .flat-button3 {
        color: #fff;
      font-size: 23px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: 'Greycliff Heavy';
      text-decoration: none;
      padding: 8px 28px;
      border: 2px solid transparent;
      border-radius: 5px;
      white-space: nowrap;
      background-blend-mode:screen !important;
      display: flex; /* Enables flexbox */
    align-items: center; /* Centers vertically */
    justify-content: center; /* Centers horizontally */
    text-align: center; 
  
     
  
      &:hover {
        background: #fff;
        border: 2px solid #fff;
        color: #88A9D6;
        z-index: 1000;
        opacity: 1;
      }
  
      &.left {
      }
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  
  
  .center2{
    z-index: 102;
    opacity: 1;
    background: #88A9D6;
  }
 
  .left2{
  background: #88A9D6;
  z-index: 100;
  opacity: 1;
  }
  
  .right2{
    background: #88A9D6;
    z-index: 101;
    opacity: 1;
  }

  @media screen and (max-width: 1200px) {

    h3 {
      font-size: 3rem;
      line-height: 10rem;
    }

    h4 {
        font-size: 2.5rem;
        line-height: 10rem;
      }

    img{
        margin-top: 20rem;
        width: 65%;
    }


    .buttons {
        display: flex;
        flex-direction: column;
      .flat-button3{
        font-size: 4rem;
        align-self: center;
        align-content: center;
      }
      
    }


    @media screen and (max-width: 1000px) {


      label {
        font-size: 2.5rem;
      }

      form {
        width: 50%;
      }

      input{
        font-size: 2.5rem;
        width: 95%;
      }

      textarea.message {
        font-size: 2rem;
      }

      h3 {
        font-size: 2.5rem;
        line-height: 4rem;
      }

      .form-button {
        font-size: 2.5rem;
      }

      input.name {
        padding: 1rem;
        height: 2rem;
        font-size: 2.5rem;
      }

  
      img{
          width: 65%;
      }
  

      h4 {
          font-size: 1rem;
          line-height: 3rem;
        }
  
      .buttons {
          display: flex;
          flex-direction: column;
        .flat-button3{
          font-size: 2rem;
          align-self: center;
        }
        
      }


}

    @media screen and (max-width: 700px) {


        label {
          font-size: 1.75rem;
        }

        form {
          width: 50%;
        }

        input{
          font-size: 1.75rem;
          width: 90%;
        }

        textarea.message {
          font-size: 1rem;
          width: 90%;
        }

        h3 {
          font-size: 2rem;
          line-height: 4rem;
        }

        .form-button {
          font-size: 1.75rem;
          padding: 1rem 5rem;
        }

        input.name {
          padding: 1rem;
          height: 2rem;
          font-size: 1.25rem;
        }

    
        img{
            width: 65%;
        }
    

        h4 {
            font-size: 1rem;
            line-height: 3rem;
          }
    
        .buttons {
            display: flex;
            flex-direction: column;
          .flat-button3{
            font-size: 2rem;
            align-self: center;
          }
          
        }


  }

  @media screen and (max-width: 600px) {

    h3 {
      font-size: 1.75rem;
      line-height: 4rem;
    }

    img{
        width: 65%;
    }


    h4 {
        font-size: 1rem;
        line-height: 3rem;
      }

    .buttons {
        display: flex;
        flex-direction: column;
      .flat-button3{
        font-size: 2rem;
        align-self: center;
      }
      
    }


}

  @media screen and (max-width: 450px) {

        h3 {
          font-size: 1.25rem;
          line-height: 4rem;
        }
    
        img{
            width: 65%;
        }
    

        h4 {
            font-size: 1rem;
            line-height: 3rem;
          }
    
        .buttons {
            display: flex;
            flex-direction: column;
          .flat-button3{
            font-size: 2rem;
            align-self: center;
          }
          
        }


  }

  
  }
}

  