@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInBG {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}

.home-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* Background Grid */
  .background-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    width: 100%;
    height: 80vh;
    opacity:0;
    overflow: hidden;
    transition: transform 0.1s ease-out;
    
  }

  .background-hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .background-visible {
    opacity: 0;
    visibility: visible;
    animation: fadeInUp 1.5s 0.5s forwards;
  }
  
}



.home-page {
  justify-content: center;

  
  
  .text-zone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    max-height: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute buttons evenly */
    align-items: center; /* Vertically align buttons to the center */
  }

  h1 {
    color: #88A9D6;
    font-size: 25rem;
    line-height: 15rem;
    margin: 0;
    font-family: 'Greycliff Heavy';
    font-weight: 400;
    animation: fadeIn 2s;


    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
    }
  }

  h2 {
    color: black;
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeInUp 1.5s;
  }

  h3 {
    color: #fff;
    font-size: 28px;
    line-height: 53px;
    margin: 0;
    font-family: 'Greycliff';
    font-weight: 400;

  }

  .buttons {
    padding-top: 10rem;
    opacity:0;
    animation: fadeInUp 1.5s forwards;
  }

  .flat-button {
    color: #88A9D6;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: 'Greycliff';
    text-decoration: none;
    margin: -2rem auto;
    padding: 10px 30px;
    border: 2px solid #d6b588;
    border-radius: 5px;
    white-space: nowrap;
    background-blend-mode:screen !important;

   

    &:hover {
      background: #fff;
      border: 2px solid #fff;
      color: #88A9D6;
      z-index: 1000;
      opacity: 1;
    }

    &.left {
    }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


// @media screen and (max-width: 1200px) {
//   .tags,
//   .home-page h1:before,
//   .home-page h1:after {
//     display: none;
//   }

//   .home-page .text-zone {
//     position: initial;
//     width: 100%;
//     transform: none;
//     padding: 10px;
//     box-sizing: border-box;
//   }

//   .home-page .flat-button {
//     display: block;
//     margin: 20px auto 0 auto;
//     padding: 15px;
//     width: 80%;
//   }

//   .logo-container {
//     position: relative;
//     width: 100px;
//     height: auto;
//     top: 50px;
//     right: 0;
//     box-sizing: border-box;
//     margin: auto;
//     left: 0;
//   }

//   .logo-container svg {
//     position: absolute;
//     top: auto;
//     right: auto;
//     bottom: auto;
//     left: 0;
//     margin: auto;
//   }
// }
.center{
  border: 2px black !important;
  z-index: 102;
  opacity: 1;
}

.left{
margin-right: 6rem;
background: #88A9D6;
border:  #88A9D6 !important;
z-index: 100;
opacity: 1;
}

.right{
  background: #88A9D6;
  margin-right: 4rem;
  border: #88A9D6 !important;
  z-index: 101;
  opacity: 1;
}
}