@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.contact {
  animation: none !important;
  opacity: 1 !important;
}

.contact-switch{
  opacity: 1 !important;
}

.contact-button {
  margin-top: -1.5rem !important;
  line-height: 2rem;
  font-size: 2rem !important;
  animation: fadeInUp 1s forwards;
}

.contact-button2 {
  margin-top: 0.5rem !important;
  line-height: 2rem;
  font-size: 2rem !important;
  animation: fadeInUp 1s forwards;
  padding: 15px 30px !important;
}

.home-page {
    
    
    .text-zone {
      color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      max-height: 90%;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-between; /* Distribute buttons evenly */
      align-items: center; /* Vertically align buttons to the center */
    }
  
    h1 {
      color: #88A9D6;
      font-size: 20rem;
      margin: 0;
      font-family: 'Greycliff Heavy';
      font-weight: 400;
      padding-bottom: 1rem;
  
  
      img {
        margin-left: 20px;
        opacity: 0;
        width: 32px;
        height: auto;
        animation: rotateIn 1s linear both;
        animation-delay: 1.4s;
      }
    }
  
    h2 {
      color: #8d8d8d;
      margin-top: 20px;
      font-weight: 400;
      font-size: 11px;
      font-family: sans-serif;
      letter-spacing: 3px;
    }
  
    h3 {
      color: #88A9D6;
      font-size: 5rem;
      line-height: 53px;
      font-family: 'Greycliff Heavy';
      font-weight: 400;
  
    }
  
    .flat-button {
      position: relative;
      background: transparent;
      color: white;
      font-size: 4rem;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: 'Greycliff Heavy';
      text-decoration: none;
      padding: 20px 30px;
      border: 2px solid white !important;
      white-space: nowrap;
      display: block;
  
      &:hover {
        background: #88A9D6;
        border: 2px solid #fff;
        color: #fff;
        z-index: 1000;
      }
  
      &.left {
      }
  }

  .flat-square {
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Greycliff';
    text-decoration: none;
    padding: 5rem 5rem;
    opacity: 0;
   // border: 2px solid #d6b588;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
    animation: fadeInUp 1s forwards;
    white-space: nowrap;

}
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media screen and (max-width: 1200px) {

    h1 {
      font-size: 10rem;
      line-height: 10rem;
    }

    h3 {
      font-size: 3rem;
      line-height: 4rem;
    }

    .background-image{
      width: 95%;
      height: 100%;
    }


    .text-zone {
      width: 90%;
    }


  }


  
   @media screen and (max-width: 700px) {

    h1 {
      font-size: 5.5rem;
      line-height: 6rem;
    }

    h3 {
      font-size: 1.75rem;
      line-height: 2rem;
    }

    .background-image{
      width: 95%;
      height: 100%;
    }


    .text-zone {
      width: 90%;
    }

    .flat-square {
      padding: 2rem 1rem;
    }

    .contact-button {
      margin-top: -1rem !important;
    }


  }

  @media screen and (max-width: 400px) {

    h1 {
      font-size: 4.5rem;
      line-height: 4.5rem;
    }

    h3 {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .background-image{
      width: 95%;
      height: 100%;
    }


    .text-zone {
      width: 90%;
    }

    .flat-square {
      padding: 2rem 1rem;
    }


  }

  

  
  }
