@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.home-page {

    &.gradient-background {
      background-size: 120% 120%;
      animation: gradient-animation 2s ease infinite;
      transition: 1s ease-in; /* Ensure it covers the full height of the viewport */
      width: 100%;
      position: relative;
    }
    
    
    .text-zone {
      color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      max-height: 90%;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-between; /* Distribute buttons evenly */
      align-items: center; /* Vertically align buttons to the center */
    }
  
    h1 {
      color: #88A9D6;
      font-size: 20rem;
      margin: 0;
      font-family: 'Greycliff';
      font-weight: 400;
      padding-bottom: 1rem;
  
  
      img {
        margin-left: 20px;
        opacity: 0;
        width: 32px;
        height: auto;
        animation: rotateIn 1s linear both;
        animation-delay: 1.4s;
      }
    }
  
    h2 {
      color: #8d8d8d;
      margin-top: 20px;
      font-weight: 400;
      font-size: 11px;
      font-family: sans-serif;
      letter-spacing: 3px;
    }
  
    h3 {
      color: #88A9D6;
      font-size: 5rem;
      line-height: 53px;
      font-family: 'Greycliff';
      font-weight: 400;
  
    }
  
    .flat-button {
      position: relative;
      color: #d6b588;
      font-size: 4rem;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: 'Greycliff';
      text-decoration: none;
      padding: 20px 30px;
      border: 2px solid #d6b588;
      white-space: nowrap;
      display: block;
  
      &:hover {
        background: #88A9D6;
        border: 2px solid #fff;
        color: #fff;
        z-index: 1000;
      }
  
      &.left {
      }
  }

  .flat-square {
    color: #d6b588;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Greycliff';
    text-decoration: none;
    padding: 10px 10px;
    opacity: 0;
   // border: 2px solid #d6b588;
    border: 2px solid #d6b588;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
    animation: fadeInUp 1s forwards;
    white-space: nowrap;

}
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  
  @media screen and (max-width: 1200px) {
    .tags,
    .home-page h1:before,
    .home-page h1:after {
      display: none;
    }
  
    .home-page .text-zone {
      position: initial;
      width: 100%;
      transform: none;
      padding: 10px;
      box-sizing: border-box;
    }

    .home-page {
      .flat-square{
        font-size: 10px !important;
      }
      
    }
  
    .flat-button {
      display: block;
      margin: 20px auto 0 auto;
      width: 124px;
    }
  
    .logo-container {
      position: relative;
      width: 100px;
      height: auto;
      top: 50px;
      right: 0;
      box-sizing: border-box;
      margin: auto;
      left: 0;
    }
  
    .logo-container svg {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
    }

    h1 {
      font-size: 4rem;
    }

    h3 {
      font-size: 2rem;
    }

    .flat-button {
      width: 80%;
    }

    .right {
      width: 80%;
      left: 50%;
      margin-right: 0px !important;
      margin-left: 0px !important;
    }
    .left {
      width: 80%;
      left: 50%;
      margin-right: 0px !important;
      margin-left: 0px !important;
    }

    .center {
      margin-top: 135px !important;
    }

    .text-zone {
      width: 70%;
    }

    .flat-square{
      font-size: 1.35rem;
    }
  }
  }