.flat-button2 {
    color: #fff;
    font-size: 23px;
    background: #88A9D6;;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: 'Greycliff Heavy';
    text-decoration: none;
    padding: 1rem 2rem;
    border: 2px solid #e6e6dd;
    border-radius: 5px;
    white-space: nowrap;
    background-blend-mode:screen !important;

    &:hover {
      background: white;
      border: 2px solid #fff !important;
      color: #88A9D6;
      z-index: 1000;
    }
}