html {
  font-size: 62.5%;
}

body {
  margin: 0;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-size: 120% 120%;
    background: #e6e6dd;
    animation: gradient-animation 2s ease infinite;
    width: 100%;
    position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  padding-bottom: 10rem;
}